@use "@/styles/mixins.scss" as mix;
@use "@/styles/variables.scss" as var;

.projectItem {
  position: relative;
  background-color: var.$color-1;
  padding: 15px;
  padding-bottom: 0;

  @include mix.respond-to(medium) {
    padding: 30px;
    padding-bottom: 0;
  }
}

.imageContainer {
  position: relative;
  height: min(290px);

  @include mix.respond-to(medium) {
    height: min(55vh, 590px);
  }
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 15px;
  gap: 8px;

  @include mix.respond-to(medium) {
    flex-direction: row;
    align-items: center;
  }
}

.title {
  @include mix.mobile {
    font-weight: 600;
  }
}

.link {
  &:hover {
    text-decoration: underline;
  }
}
