@use "@/styles/mixins.scss" as mix;

.swiper {
  --swiper-theme-color: #fff;

  @include mix.mobile {
    --swiper-navigation-size: 36px;
  }
}

.swiper-button-disabled {
  pointer-events: auto !important;
}
