@use "@/styles/mixins.scss" as mix;
@use "@/styles/variables.scss" as var;

.contact {
  position: relative;

  @include mix.respond-to(medium) {
    display: grid;
    grid-template-columns: 1fr 1.15fr;
    min-height: 100vh;
  }
}

.imageContainer {
  position: relative;
  border: 1px solid var.$color-1;

  @include mix.mobile {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  background-color: var.$color-3;
  color: var.$color-1;
  border: 1px solid var.$color-1;

  @include mix.respond-to(medium) {
    padding: 85px;
  }
}

.paragraph {
  margin-bottom: 32px;

  @include mix.respond-to(medium) {
    width: 90%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  font-weight: 600;

  @include mix.respond-to(medium) {
    width: 90%;
    font-size: 20px;
  }
}

.formLabel {
  margin-left: 15px;
  text-transform: uppercase;
  opacity: 0.5;
}

.formInput {
  display: block;
  padding: 5px 15px 15px;
  width: 100%;
  min-height: 40px;
  font-size: inherit;
  font-weight: 600;
  outline: none;
  resize: none;
  border: unset;
  border-bottom: 1px solid rgba($color: var.$color-1, $alpha: 0.5);
  line-height: 24px;

  &::placeholder {
    color: inherit;
    opacity: 0.7;
  }

  @include mix.respond-to(medium) {
    line-height: 30px;
  }
}

textarea.formInput {
  min-height: 80px;
  font-family: inherit;
}

.formSubmit {
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;

  @include mix.respond-to(medium) {
    align-self: flex-end;
    margin-top: 28px;
    font-size: 22px;
  }
}
