@use "@/styles/mixins.scss" as mix;
@use "@/styles/variables.scss" as var;

.header {
  position: relative;
  padding-block: 27px;
  z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  @include mix.respond-to(medium) {
    gap: 57px;
  }
}

.logoLink {
  position: relative;
  display: inline-flex;
  min-width: 28px;
  height: 48px;
}

.navList {
  display: flex;
  gap: 12px;
  margin-left: auto;

  @include mix.respond-to(medium) {
    gap: 32px;
  }
}

.navLink {
  text-transform: capitalize;

  &:hover {
    text-decoration: underline;
  }
}

.flags {
  display: flex;
  gap: 10px;
}

.flagLink {
  position: relative;
  display: inline-flex;
  width: 32px;
  height: 20px;
  filter: grayscale(1);

  &:hover {
    filter: grayscale(0.75);
  }
}
