@use "@/styles/mixins.scss" as mix;
@use "@/styles/variables.scss" as var;

.header {
  position: relative;
  padding-block: 27px;
  z-index: 2;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  @include mix.respond-to(medium) {
    gap: 57px;
  }
}

.logoLink {
  position: relative;
  display: inline-flex;
  min-width: 28px;
  height: 48px;
}

.navList {
  display: flex;
  gap: 12px;
  margin-left: auto;

  @include mix.respond-to(medium) {
    gap: 32px;
  }

  @include mix.mobile {
    display: none;
  }
}

.navLink {
  text-transform: capitalize;

  &:hover {
    text-decoration: underline;
  }
}

.flags {
  display: flex;
  gap: 10px;

  @include mix.mobile {
    display: none;
  }
}

.flagLink {
  position: relative;
  display: inline-flex;
  width: 32px;
  height: 20px;
  filter: grayscale(1);

  &:hover {
    filter: grayscale(0.75);
  }
}

.mobileNavContainer {
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100vh;
  background-color: #000;
  padding: 40px 16px 16px;
  transition: 0.3s ease-in-out;

  &[data-visible="true"] {
    right: 0;
    box-shadow: 0 0 500px rgba(0, 0, 0, 0.5);
  }

  @include mix.respond-to(medium) {
    display: none;
  }
}

.mobileNavList {
  margin-block: 16px;
}

.mobileNavItem {
  margin-bottom: 16px;
}

.mobileNavLink {
  text-transform: capitalize;
}

.mobileFlags {
  display: flex;
  gap: 10px;
}

.toggle {
  display: grid;
  place-items: center;
  gap: 7px;

  width: 27px;
  background-color: transparent;
  margin-left: auto;
  border: none;
  cursor: pointer;

  @include mix.respond-to(medium) {
    display: none;
  }

  &[aria-expanded="true"] {
    .bar:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.bar:nth-child(2) {
  width: 65%;
  margin-left: auto;
}
