@use "@/styles/mixins.scss" as mix;
@use "@/styles/variables.scss" as var;

.projectDetails {
  position: relative;
}

.mainSwiper {
  margin-bottom: 15px;

  @include mix.respond-to(medium) {
    margin-bottom: 20px;
  }
}

.mainSwiperSlide {
  position: relative;
  width: 100%;
  aspect-ratio: 1120 / 720;
  max-height: 77.5vh;
  overflow: hidden;
}

.mainImage {
  object-fit: cover;
  border: 2px solid var.$color-1;
  border-radius: 12px;
}

.thumbsSwiper {
  margin-bottom: 20px;

  @include mix.mobile {
    width: calc(100% + 32px);
  }

  @include mix.respond-to(medium) {
    margin-bottom: 30px;
  }
}

.thumbSwiperSlide {
  position: relative;
  aspect-ratio: 200 / 160;
  cursor: pointer;
  overflow: hidden;
}

.thumbImage {
  object-fit: cover;
  transition: 150ms ease-in-out;

  border: 1px solid var.$color-1;
  border-radius: 12px;

  &:hover {
    border-color: var.$color-3;
  }

  &[data-active="true"] {
    border-color: var.$color-3;
  }
}

.detailsField {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 30px;
  }

  @include mix.respond-to(medium) {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 50px;
    }
  }
}

.detailsFieldLabel {
  display: block;
  text-transform: capitalize;
}
