@use "@/styles/mixins.scss" as mix;
@use "@/styles/variables.scss" as var;

.footer {
  position: relative;
  padding-block: 14px;
  background-color: var.$color-1;
  
  @include mix.respond-to(medium) {
    border: 1px solid var.$color-1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  @include mix.respond-to(medium) {
    flex-direction: row;
  }
}

.socials {
  display: flex;
  gap: 0;
}

.socialItem {
  transition: 150ms ease-in-out;
  width: 40px;
  height: 40px;

  &:hover {
    transform: scale(1.05);
  }

  @include mix.respond-to(medium) {
    width: 50px;
    height: 50px;
  }
}
