@use "@/styles/mixins.scss" as mix;
@use "@/styles/variables.scss" as var;

.menuWrapper {
  position: relative;
}

.menu {
  display: flex;
  overflow: hidden;

  @include mix.respond-to(medium) {
    display: inline-flex;
    border-bottom-right-radius: 24px;
  }
}

.menuItem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: var.$color-1;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 150ms ease-in-out;

  @include mix.respond-to(medium) {
    flex: unset;
    font-size: 26px;
    padding: 30px 70px;
  }

  &:hover {
    background-color: var.$color-2;
  }

  &[data-active="true"] {
    background-color: var.$color-2;
  }
}

.menuItemText {
  display: inline-block;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var.$color-1;
  color: var.$color-3;
  width: 28px;
  height: 28px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.7;
  border-bottom-right-radius: 4px;
  transition: 150ms ease-in-out;

  &:hover {
    background-color: var.$color-2;
  }

  @include mix.respond-to(medium) {
    width: 34px;
    height: 34px;
    font-size: 20px;
  }
}
