@use "@/styles/variables.scss" as var;

.menuWrapper {
  position: relative;
}

.menu {
  display: flex;
}

.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 70px;
  background-color: var.$color-1;
  font-size: 26px;
  text-transform: capitalize;
  cursor: pointer;

  // clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
  // min-width: 350px;
  // margin-left: -105px;

  // &:first-child {
  //   clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  // }

  &:hover {
    background-color: var.$color-2;
  }

  &[data-active="true"] {
    background-color: var.$color-2;
  }
}

.menuItemText {
  display: inline-block;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var.$color-1;
  color: var.$color-3;
  width: 34px;
  height: 34px;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.7;

  &:hover {
    background-color: var.$color-2;
  }
}
